<div class="card mt-5">
  <div class="card-header">
    Montant du compte
  </div>
  <div class="card-body">
    <h5 class="card-title">Saisir un montant à transferer</h5>
    <p class="card-text">
    <form method="POST" action="/banking">
    <div class="form-group">
        <label>Montant</label>
        <input type="number" class="form-control" name="amount" placeholder="Saisir le motant" required="true" />
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Envoyer</button>
    </form>
    </p>
    <small class="text-muted"><%= amount %> Dhs</small>
  </div>
</div>